<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacloud.isv.persistance.TaskResultDao">
    <insert id="addResult">
    insert into TaskResult(id,cFarmId,requestMethod,params,resultStatus,info,addTime,requestUrl,destinationFarmId,envId,eventType)
    values(#{id},#{cFarmId},#{requestMethod},#{params},#{resultStatus},#{info},now(),#{requestUrl},#{destinationFarmId},#{envId},#{eventType})
    </insert>
    
    <select id="getOrderTaskResultById" parameterType="String" resultType="com.chinacloud.isv.domain.TaskResult">
    select * from TaskResult where id=#{id} and cFarmId != 0
    </select>
    
    <select id="getCount" resultType="Integer" >
    select count(*) from TaskResult
    </select>
    
    <delete id="deleteResult">
    delete from TaskResult where cFarmId = 0 and TO_DAYS(now())-TO_DAYS(addTime)>#{num}
    </delete>
    
    <delete id="deleteResultById">
    delete from TaskResult where id=#{id}
    </delete>

</mapper>